.button {
  border: 2px solid #{$primary};
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  width: max-content;
  &-item {
    text-transform: uppercase;
  }
}